{
    "parserOptions": {
        "ecmaVersion": "2017",
        "sourceType": "module"
    },
    "extends": ["eslint:recommended"],
    "rules": {
        "semi": 2
    },
     "env": {
        "node": true,
        "mocha": true
    }
}